.header_search{
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    flex: 1;
}

.header_search > div {
    margin-bottom: 10px;
}

.header__searchInput{
    height: 20px;
    padding: 8px;
    padding-left: 20px;
    padding-top: 10px;
    border: none;
    width: 100%;
    margin-top: 10px;
    outline: none;
    border: none;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.header__searchIcon{
    background-color: white;
    color: #208a3c;
    height: 22px !important;
    padding: 8px;
    border: none;
    outline: none;
    margin-top: 10px;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
}